body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
	overflow: auto; /* Enables scrolling */
    scrollbar-width: 0 px; /* Hides scrollbar in Firefox */
	font-size: 16px;
}

body::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, Edge */
}

h1,h2,h3 {
	color: #0098ff;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3{
	font-size: 20px;
}
	
main {
    flex-grow: 1;
    word-wrap: break-word;
    display: flex;
    text-align: center;
    flex-direction: column;
    
    justify-content: flex-start; /* Ensures content starts from the top */
    max-width: 80%;
    margin: auto;
    padding-top: 20vh; /* Adjust the top padding instead of negative margin */
}


footer {
    font-weight:bold;
    color: #0098ff;
    width: 100%;
    text-align: center;
	font-size: 12px;
}

html {
	scroll-behavior: smooth;
}

* {
    user-select: none;  /* Disables text selection */
}

img{
	pointer-events:none;
}

.logo img {
    width: 150px;
    height: auto;
    position: absolute;
    left: 15px;
}

.povratak a, .program a, .onama a, .uclanise a, .statut a {
    background-color: #0098ffa0;
    padding: 20px; /* Adjusted padding */
    border-radius: 50%;
    width: 60px; /* Fixed size for circles */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
	white-space: nowrap;
}

.povratak a:hover, .program a:hover, .statut a:hover, .uclanise a:hover, .onama a:hover {
    transform: scale(1.1);
}

.povratak, .program, .onama, .uclanise, .statut {
	list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
	transform: translate(-50%, -50%);
	position: absolute;
}	


    .program {
    top: -10px;
    left: 20px;
    }
	
	.povratak, .uclanise {
    top: 150px;
    left: 20px;
    }
	
	.statut {
    top: 70px;
    left: 100px;
    }
	
	.onama {
    top: 70px;
    left: -60px;
    }

	nav {
	position: fixed;
    top: calc(100% - 240px);
    left: calc(100% - 170px);
	}
	
@media (max-width: 1000px) {
	.povratak a, .program a, .onama a, .uclanise a, .statut a {
    width: 30px; /* Fixed size for circles */
    height: 30px;
    font-size: 14px;
	}
	
	.logo img {
    width: 100px;
	}

	.program {
    top: 30px;
    left: 40px;
    }
	
	.povratak, .uclanise {
    top: 150px;
    left: 40px;
    }
	
	.statut {
    top: 90px;
    left: 100px;
    }
	
	.onama {
    top: 90px;
    left: -20px;
    }
	
	nav {
	position: fixed;
    top: calc(100% - 220px);
    left: calc(100% - 150px);
	}	
}

@media (max-width: 600px) {
	
h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3{
	font-size: 16px;
}

body{
	font-size: 14px;
}

}

nav a {
    text-decoration: none;
    color: white;
}